/* Fixes */

.editor-content table tbody tr td {
  padding: 0 15px;
}

.editor-content table tbody tr td:first-child {
  white-space: nowrap;
}

.editor-content blockquote {
  margin-bottom: 1.5em;
}

.editor-content {
  padding-right: 5px;
  overflow-x: hidden;
}

li > .entity-link {
  line-height: 1.75em;
}

.ws-sidebar-group .ddbimporter-image-container {
  flex: 2;
}

/* Layout */

.ws-sidebar-group {
  display: flex;
  gap: 1em;
}

.ws-sidebar-group main {
  flex: 3;
}

.ws-sidebar-group aside.ws-block.sidebar {
  flex: 2;
  height: max-content;
  background-image: linear-gradient(
      0,
      hsla(350, 100%, 40%, 50%),
      hsla(275, 100%, 40%, 50%)
    ),
    url(/ui/denim.png);
  margin: 0.5em 0.5em 1em 0.5em;
}

/* Blocks */

.ws-block {
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0.5em 1em 0;
  box-shadow: 0.5em 0.5em 0.25em #00000050;
  color: white;
  background-repeat: repeat;
}
.ws-block .entity-link, .ws-block .inline-roll {
  color: black;
}

.ws-block.highlight {
  background-image: linear-gradient(
      0,
      hsla(40, 100%, 60%, 50%),
      hsla(0, 100%, 60%, 50%)
    ),
    url(/ui/parchment-white.jpg);
  color: black;
}

.ws-block.skill-challenge {
  background-color: hsla(150, 50%, 50%, 10%);
  background-image: linear-gradient(
      0,
      hsla(120, 100%, 60%, 50%),
      hsla(160, 100%, 60%, 50%)
    ),
    url(/ui/parchment-white.jpg);
  color: black;
}

.ws-block.box {
  background-image: url(/ui/denim.png);
}

.ws-block.note {
  background-image: linear-gradient(
      0,
      hsla(250, 100%, 30%, 50%),
      hsla(175, 100%, 30%, 50%)
    ),
    url(/ui/denim.png);
  display: flex;
  gap: 1em;
}
.ws-block.note > .contents {
  flex: 90%;
}
.ws-block.note img {
  border: none;
}
