name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Substitute the Manifest and Download URLs in the world.json
      - name: Substitute Manifest and Download Links For Versioned Ones
        id: sub_manifest_link_version
        uses: microsoft/variable-substitution@v1
        with:
          files: "world.json"
        env:
          version: ${{github.event.release.tag_name}}
          url: https://github.com/${{github.repository}}
          manifest: https://github.com/${{github.repository}}/releases/latest/download/world.json
          download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/world.zip

      # Create a zip file with all files required by the world to add to the release
      - run: zip -r ./world.zip world.json LICENSE OGL.txt CHANGELOG.md styles/ scripts/ scenes/ packs/ journals/ data/ actors/

      # Create a release for this specific version
      - name: Update Release with Files
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true # Set this to false if you want to prevent updating existing releases
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "./world.json, ./world.zip"
          tag: ${{ github.event.release.tag_name }}
          body: ${{ github.event.release.body }}

      # Autopublish to the Foundry Admin panel
      - name: FoundryVTT AutoPublish
        uses: Varriount/fvtt-autopublish@v1.0.2a
        with:
          username: ${{ secrets.FOUNDRY_ADMIN_USER }}
          password: ${{ secrets.FOUNDRY_ADMIN_PW }}
          module-id: ${{ secrets.FOUNDRY_ADMIN_ID }}
          manifest-url: https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/world.json
          manifest-file: ./world.json
